<template>
	<view class="container">
		<view class="touxiang" v-show="headimgurl">
			<image class="txpic" mode="widthFix" :src="headimgurl"></image>
		</view>
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>
		<view class="content">
			<view class="username">
				{{userName}}
			</view>
			<button class="qiandao" @click="nextPage" type="default">领取证书</button>
		</view>

		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				headimgurl: '',
				userName: '',
				info:'',
			}
		},
		onLoad(option) {
			const wxUserInfo = uni.getStorageSync('wxUserInfo');
			console.log(wxUserInfo)
			if (wxUserInfo !== null && wxUserInfo !== undefined) {
				this.headimgurl = wxUserInfo.headimgurl;
				this.openid = wxUserInfo.openid;
				// console.log(this.headimgurl)
			} else {
				uni.showToast({
					title: '未获取用户信息,请重新登录',
					icon: 'error'
				})

				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/index/index'
					})

				}, 2000)
			};
			this.info=option.info;

			const info = JSON.parse(decodeURIComponent(option.info));
			// console.log(info)
			this.userName = info.userName;
		},
		methods: {
          nextPage(){
			uni.navigateTo({
				url:'/pages/jiangzhuang/jiangzhuang?info='+this.info
			})
		  }
		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}

	.touxiang {
		position: absolute;
		right: 10px;
		top: 5px;
		border-radius: 100upx;
		overflow: hidden;
		border: 3px solid #fff;
	}

	.username {
		position: absolute;
		top: 350px;
		left: 170upx;
	}

	.txpic {
		height: 100upx !important;
		width: 120upx;
	}

	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;

	}

	uni-button:after {
		text-align: center;
		border: 0;
	}

	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}

	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 66upx;
		line-height: 66upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;
		position: absolute;
		bottom: 130upx;
		left:31%;

	}

	.swtou {
		min-height: 340px !important;
	}

	.center {
		text-align: center;
	}

	.content {
		margin: -130px auto auto;
		position: relative;
		height: 600px;
		width: 100%;
		background: url(../../static/img/endzs.png);
		background-size: 100% 100%;
		z-index: 1;
		zoom: 1;

	}

	.baizi {
		width: 100px
	}
</style>
