<template>
	<view class="container">
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>
		<view class="content text-area" @touchstart="start" @touchend="end">
			<view class="con">
				<view class="center">
					<view class="qiandao" style="margin-left: auto;margin-right: auto;padding: 5upx;">
						乡村振兴工作介绍
					</view>
				</view>
				<view class="text">
					<uni-transition :mode-class="['slide-left','fade']" :show="true" :duration="2000">
						<rich-text :nodes="textData.text"></rich-text>
					</uni-transition>
					<button class="qiandao" @click="nextPage" type="default">{{nextText}}</button>
				</view>

			</view>
		</view>
		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				conData: [
					{
						id:2,
						text:"\u4e61\u6751\u632f\u5174\u662f\u515a\u4e2d\u592e\u7740\u773c\u201c\u4e24\u4e2a\u4e00\u767e\u5e74\u201d\u594b\u6597\u76ee\u6807\u5bfc\u5411\u548c\u519c\u4e1a\u519c\u6751\u77ed\u817f\u77ed\u677f\u7684\u95ee\u9898\u5bfc\u5411\u4f5c\u51fa\u7684\u6218\u7565\u5b89\u6392\uff0c\u5e76\u5e84\u4e25\u5730\u5199\u5165\u4e86\u515a\u7ae0\uff0c\u4e3a\u65b0\u65f6\u4ee3\u519c\u4e1a\u519c\u6751\u6539\u9769\u53d1\u5c55\u6307\u660e\u4e86\u65b9\u5411\u3001\u660e\u786e\u4e86\u91cd\u70b9\u3002\u000d\u000a\u65b0\u534e\u4fdd\u9669\u65b0\u7586\u5206\u516c\u53f8\u63d0\u5347\u653f\u6cbb\u7ad9\u4f4d\uff0c\u5c06\u201c\u8bbf\u60e0\u805a\u201d\u4e0e\u515a\u5efa\u3001\u4e1a\u52a1\u53d1\u5c55\u540c\u90e8\u7f72\u3001\u540c\u5b89\u6392\u3001\u540c\u843d\u5b9e\u3001\u540c\u8003\u6838\u3002\u79ef\u6781\u627f\u62c5\u653f\u6cbb\u4efb\u52a1\u3001\u5c65\u884c\u4f01\u4e1a\u793e\u4f1a\u8d23\u4efb\uff0c\u201c\u961f\u5458\u5f53\u4ee3\u8868\u3001\u5355\u4f4d\u505a\u540e\u76fe\u3001\u4e00\u628a\u624b\u8d1f\u603b\u8d23\u201d\u79ef\u6781\u62a4\u822a\u4e61\u6751\u632f\u5174\uff0c\u52a9\u529b\u65b0\u7586\u65b0\u519c\u6751\u5efa\u8bbe\u3002\u000d\u000a\u81ea\u0032\u0030\u0031\u0037\u5e74\u81f3\u4eca\uff0c\u65b0\u534e\u4fdd\u9669\u65b0\u7586\u5206\u516c\u53f8\u7d2f\u8ba1\u6295\u5165\u7ef4\u7a33\u548c\u6276\u8d2b\u8d44\u91d1\u0032\u0034\u0030\u0030\u4f59\u4e07\u5143\uff0c\u7d2f\u8ba1\u6d3e\u51fa\u0033\u0038\u4eba\u53c2\u4e0e\u963f\u514b\u82cf\uff08\u963f\u96c5\u514b\u5e93\u52d2\u8fbe\u897f\u6751\u3001\u8fbe\u5742\u5e93\u6728\u6751\uff09\u3001\u5580\u4ec0\uff08\u4f0a\u5176\u62dc\u52d2\u63d0\u3001\u514b\u5b5c\u52d2\u514b\u5c14\u3001\u5580\u62c9\u4e9a\u5c15\u5176\u6df1\u5ea6\u8d2b\u56f0\u6751\uff09\u3001\u5854\u57ce\uff08\u5e93\u9c81\u65af\u53f0\u793e\u533a\uff09\u7b49\u5730\u201c\u8bbf\u60e0\u805a\u201d\u6276\u8d2b\u5de5\u4f5c\uff0c\u627f\u62c5\u0033\u0030\u0038\u6237\u5171\u0031\u0033\u0033\u0035\u4eba\u7684\u8131\u8d2b\u653b\u575a\u4efb\u52a1\u3002"
					},
					{
					id: 3,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu1.png'>"
				}, {
					id: 4,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu2.png'>"
				}, {
					id: 5,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu3.png'>"
				}, {
					id: 6,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu4.png'>"
				}, {
					id: 7,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu5.png'>"
				}, {
					id: 8,
					text: "2022年新华保险新疆分公司将持续巩固脱贫攻坚成果同乡村振兴的有效衔接，不断为乡村振兴工作持续助力。<br><br><img style='width:100%' mode='widthFix' src='../../static/img/tu6.png'>"
				}],
				textData: {},
				textKey: 0,
				startData: {},
				nextText: '下一页'
			}
		},
		onShow() {
			uni.showToast({
				icon: 'success',
				title: '左右滑动页面开始浏览'
			})
			this.textData = this.conData[this.textKey];
			if (this.$wechat && this.$wechat.isWechat()) {
			    this.$wechat.share({
					title:'你参与我助力同心共筑大美新疆 ！魅力新华 护航乡村振兴！',
			        desc: "你参与 我助力 同心共筑大美新疆 ！魅力新华 护航乡村振兴！快快转发邀约您的亲朋好友参与，过一个温馨、祥和、有意义的春节吧!",  
			        img: "https://hd.xjsfjgxx.com/static/img/f-bg.cc227f66.png" 
			    });  
			}
		},
		methods: {
			start(e) {
				this.startData.clientX = e.changedTouches[0].clientX;

				this.startData.clientY = e.changedTouches[0].clientY;
			},
			nextPage() {
				this.textKey = parseInt(this.textKey + 1)
				// console.log(this.nextText)
				// if(this.nextText=='捐赠爱心'){
				// 	uni.navigateTo({
				// 		url:'/pages/juzheng/juzheng'
				// 	})
				// }
			
				if (this.textKey >= this.conData.length) {
					this.nextText='没有内容了'
					return;
				}
				
				this.textData = this.conData[parseInt(this.textKey)]
				this.$forceUpdate()
				
				uni.showToast({
					title: "页面" + this.textKey,
					icon: 'none',
					duration: 2000
				})
			},
			end(e) {
				console.log(e)
				const subX = e.changedTouches[0].clientX - this.startData.clientX;
				const subY = e.changedTouches[0].clientY - this.startData.clientY;
				if (subY > 50 || subY < -50) {
					console.log('上下滑')
				} else {
					if (subX > 100) {
						this.textKey = parseInt(this.textKey - 1)
						uni.showToast({
							title: "页面" + this.textKey,
							icon: 'none',
							duration: 2000
						})
						// console.log(this.textKey)
						// console.log(this.conData.length)
						if (this.textKey < 0) {
							uni.showToast({
								icon: 'loading',
								title: '没有内容了'
							})
							return 0;
						}
						this.textData = this.conData[parseInt(this.textKey)]
						this.$forceUpdate()
						console.log('右滑')
					} else if (subX < -100) {
						this.textKey = parseInt(this.textKey + 1)
						uni.showToast({
							title: "页面" + this.textKey,
							icon: 'none',
							duration: 2000
						})
						if (this.textKey >= this.conData.length) {
							uni.showToast({
								icon: 'loading',
								title: '没有内容了'
							})
							return 0;
						}
						console.log(parseInt(this.textKey))
						console.log(this.conData.length)
						this.textData = this.conData[parseInt(this.textKey)]
						this.$forceUpdate()
						console.log('左滑')
					} else {
						console.log('无效')
					}
				}
			}
		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}


	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;

	}
	
	uni-button:after {
		text-align: center;
		border: 0;
	}
	
	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}

	.content {
		margin: -160px auto auto;
		position: relative;
		height: 600px;
		width: 350px;
		text-align: left;

		background: url(../../static/hdjs-content.png);
		background-size: 100% 100%;
		z-index: 1;
		zoom: 1.1;

	}

	.center {
		text-align: center;
	}

	.con {
		position: absolute;
		left: 30px;
		top: 145px;
		width: 80%;
	}

	.text {
		text-indent: 2em;
		padding: 10px;
		color: #b90b0f;
		height: 400px;
		text-align: justify;
        text-justify: newspaper;
		overflow: hidden;
		overflow-y: scroll;
	}

	.baizi {
		width: 120px
	}

	.foot-bg {
		background: url(../../static/laohu.png) no-repeat;
		background-size: 100%;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 380rpx;
		z-index: 999;
	}
</style>
