<template>
	<view class="container">
		<button class="qiandao" @click="generate()" type="default">点击生成证书</button>
		<uni-popup ref="bctp" type="center" :ifclose="true">
			<scroll-view @longpress="savepic" class="bctp">
				<image class="hdxz" mode="widthFix" :src="base64"></image>
				<text class="savetext">长按保存图片</text>
			</scroll-view>
		</uni-popup>
		<view class="pic">
			<view class="savepic" id="zhengshu">
				<text class="username">{{userName}}</text>
				<text class="jifen">{{jifen}}</text>
				<image class="zhengshu" src="../../static/img/jiangzhuang.png" mode="widthFix"></image>
			</view>
		</view>
	</view>
</template>

<script>
	import html2canvas from '../../common/html2canvas.min.js'
	export default {
		data() {
			return {
				userName: '',
				jifen: '',
				base64: '',
			}
		},
		components: {
			html2canvas
		},
		onLoad(option) {
			const info = JSON.parse(decodeURIComponent(option.info));
			// console.log(info)
			this.userName = info.userName;
			this.jifen = info.jifen;
		},
		methods: {
			savepic() {
				uni.downloadFile({
					url: this.base64,
					success: (res) => {
						// console.log(res.tempFilePath)
						uni.saveImageToPhotosAlbum({ //将图片保存在手机
							filePath: res.tempFilePath, //保存的位置
							success: (res) => {
								uni.showToast({
									title: '图片已保存！'
								})

							}
						})

					}
				})
				// uni.showToast({
				// 	title: '图片已保存'
				// })
			},
			generate() {
				uni.showLoading({
					title: '正在生成证书'
				})
				var dom = document.querySelector('#zhengshu')
				console.log(dom)
				html2canvas(dom, {
					width: dom.clientWidth,
					height: dom.clientHeight,
					scrollY: 0,
					scrollX: 0,
					useCORS: true
				}).then((canvas) => {
					this.base64 = canvas.toDataURL('image/png')
					// console.log(this.base64)
					uni.hideLoading()
					this.$refs.bctp.open()
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.bctp {
		text-align: center;
		color: #fff;
	}

	.hdxz {
		width: 400px;
	}

	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;
		position: fixed;
		z-index: 99;
		left: 25%;
		bottom: 20%;

	}

	.pic {
			position: absolute;
		right: -1200px;
	}

	.container {
		width: 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}

	.zhengshu {

		width: 659px;
		height: 482px !important;
	}

	.savetext {
		position: absolute;
		top: 0;
		left: 40%;
	}

	.savepic {
		padding-top: 60px;
		width: 100%;
		position: relative;
	}

	.username {
		font-size: 32upx;
		font-weight: bold;
		position: absolute;
		z-index: 99;
	    top: 255px;
	    left: 192px;
	}

	.jifen {
		position: absolute;
		font-size: 32upx;
		font-weight: bold;
		left: 182px;
		top: 292px;
		z-index: 99;
	}
</style>
