<template>
	<view class="container">
		<view class="touxiang" v-show="headimgurl">
			<image class="txpic" mode="widthFix" :src="headimgurl"></image>
		</view>
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="height: 106px;" src="../../static/title1.png"></image>
			</uni-transition>
		</view>
		<view class="uni-title2">
			<image class="pic2" mode="widthFix" src="../../static/hhxc.png"></image>
		</view>

		<view class="foot-bg">
			<!-- 	<view class="uni-flex uni-row hd-list">
					<button :animation="animationData2" class="anniu" @click="cdm">猜字谜我助力</button>
			</view> -->
			<view class="uni-flex uni-row mt20">


				<button :animation="animationData3" class="anniu" @click="blczs">乡村振兴工作介绍</button>
				<button :animation="animationData" class="anniu" type="default" @click="hdjs">活动介绍</button>
				<button :animation="animationData2" class="anniu" @click="cdm">猜字谜我助力</button>
				<!-- 		<button :animation="animationData4" class="anniu" @click="hqgyzs">获取公益证书</button> -->

			</view>
		</view>

	</view>
</template>

<script>
	export default {
		onLoad() {
			// 初始化一个动画
			var animation = uni.createAnimation({
				duration: 1000,
				timingFunction: 'ease',
			})
			this.animation = animation
			this.noanimation = animation
			this.shareCode = this.getUrlParam('shareCode');
			if (this.shareCode !== '' && this.shareCode != null) {
				uni.setStorageSync('shareCode', this.shareCode);
				uni.showToast({
					title: '你当前的分享码：' + this.shareCode,
					duration: 2000,
					icon: 'none'
				})
			};

			this.getCode();

			if (this.$wechat && this.$wechat.isWechat()) {
				this.$wechat.share({
					title: '你参与我助力同心共筑大美新疆 ！魅力新华 护航乡村振兴！',
					desc: "你参与 我助力 同心共筑大美新疆 ！魅力新华 护航乡村振兴！快快转发邀约您的亲朋好友参与，过一个温馨、祥和、有意义的春节吧!",
					img: "https://hd.xjsfjgxx.com/static/img/f-bg.cc227f66.png"
				});
			}

		},
		onShow() {
			const wxUserInfo = uni.getStorageSync('wxUserInfo');
			// console.log('onShow', wxUserInfo)
			if (wxUserInfo !== '' && wxUserInfo != null) {
				this.headimgurl = wxUserInfo.headimgurl;
				// console.log(this.headimgurl)
			}
		},
		data() {
			return {
				animation: '',
				noanimation: '',
				animationData: {},
				animationData2: {},
				animationData3: {},
				animationData4: {},
				headimgurl: '',
				topList: [],
				userInfo: {},
				logState: '立即登录',
				appId: 'wxf4534cbe771c8a65',
				shareCode: ''
			}
		},
		methods: {
			//获取url参数
			getUrlParam(name) {
				return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) ||
				[, ""
				])[1].replace(/\+/g, '%20')) || null;
			},
			getCode() {
				if (uni.getStorageSync('wxUserInfo')) {
					return false;
				}
				var code = this.getUrlParam('code') // 截取路径中的code，如果没有就去微信授权，如果已经获取到了就直接传code给后台获取openId
				var local =
					'https://hd.xjsfjgxx.com/'; //这个地方是微信公众平台网页授权里面配置的域名，也是服务器的域名，把打包后的static和index放到webapps的文件夹下面。格式为域名+文件夹名称

				if (code == null || code === '') {
					window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + this.appId +
						'&redirect_uri=' + encodeURIComponent(local) +
						'&response_type=code&scope=snsapi_userinfo&state=#wechat_redirect'
					// console.log(code)
				} else {

					this.getOpenId(code) //把code传给后台获取用户信息
				}
			},
			getOpenId(code) {
				uni.showLoading({
					title: "正在登陆中"
				})
				uni.request({
					url: 'https://hd.xjsfjgxx.com/prod-api/wx/redirect/wxf4534cbe771c8a65/greet',
					data: {
						code: code
					},
					success: (res) => {
						uni.hideLoading();
						// console.log(res.data)
						if (res.data.success) {
							uni.setStorageSync('wxUserInfo', res.data.data)
							this.$router.go(0)
							// location.reload();
						}

					}
				})

			},
			rotateAndScaleThenTranslate: function() {
				// 先旋转同时放大，然后平移
				this.animation.scale(1.5, 1.5).step()
				this.animation.translate(0, -20).step({
					duration: 500
				})
				this.animationData = this.animation.export()
			},
			rotateAndScaleThenTranslate2: function() {

				// 先旋转同时放大，然后平移
				this.animation.scale(1.5, 1.5).step()
				this.animation.translate(0, -20).step({
					duration: 500
				})
				this.animationData2 = this.animation.export()
			},
			rotateAndScaleThenTranslate3: function() {
				// 先旋转同时放大，然后平移
				this.animation.scale(1.5, 1.5).step()
				this.animation.translate(0, -20).step({
					duration: 500
				})
				this.animationData3 = this.animation.export()
			},
			rotateAndScaleThenTranslate4: function() {
				// 先旋转同时放大，然后平移
				this.animation.scale(1.5, 1.5).step()
				this.animation.translate(0, -20).step({
					duration: 500
				})
				this.animationData4 = this.animation.export()
			},
			hdjs: function() {
				this.rotateAndScaleThenTranslate()
				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/hdjs/index'
					})
					this.animation.scale(1, 1).step()
					this.animation.translate(0, 0).step({
						duration: 500
					})
					this.animationData = this.animation.export()
				}, 2000)
			},
			cdm: function() {
				uni.showToast({
					title: '活动已结束，谢谢参与！',
					duration: 2000,
					icon: 'error'
				})
				return false;
				if (this.shareCode === '' || this.shareCode == null) {
					uni.showToast({
						title: '未获取分享码，请重新复制链接进入',
						duration: 2000,
						icon: 'error'
					})
					return false;
				}
				this.rotateAndScaleThenTranslate2()
				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/cdm/cdm'
					})
					this.animation.scale(1, 1).step()
					this.animation.translate(0, 0).step({
						duration: 500
					})
					this.animationData2 = this.animation.export()
				}, 2000)
			},
			blczs: function() {
				this.rotateAndScaleThenTranslate3()
				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/blczs/blczs'
					})
					this.animation.scale(1, 1).step()
					this.animation.translate(0, 0).step({
						duration: 500
					})
					this.animationData3 = this.animation.export()
				}, 2000)
			},
			hqgyzs: function() {
				this.rotateAndScaleThenTranslate4()
				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/juzheng/juzheng'
					})
					this.animation.scale(1, 1).step()
					this.animation.translate(0, 0).step({
						duration: 500
					})
					this.animationData4 = this.animation.export()
				}, 2000)

			}
		}
	}
</script>

<style>
	.container {
		background: url(../../static/bg1.jpg);
		background-size: 100% 100%;
		height: 90vh;
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
	}

	.uni-title {
		margin-top: 120upx;
		text-align: center;
	}

	.uni-title2 {
		text-align: center;
	}

	.foot-bg {
		background: url(../../static/img/xy4.png) no-repeat;
		background-size: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 384rpx;
		z-index: 1;
	}

	.pic2 {
		width: 280px;
		margin-top: -60upx;
	}

	.mt20 {
		margin-top: 200upx;
	}

	.anniu {
		margin-top: 10upx;
		padding-left: 40upx;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/img/kaung3.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;

	}

	uni-button:after {
		text-align: center;
		border: 0;
	}

	.hd-list {
		margin-top: 20%;
		width: 93%;

	}

	.touxiang {
		position: absolute;
		right: 10px;
		top: 5px;
		border-radius: 100upx;
		overflow: hidden;
		border: 3px solid #fff;
	}

	.txpic {
		height: 100upx !important;
		width: 120upx;
	}

	/* 
	.btn1 {
		background: url(../../static/hdjs.png) no-repeat;
		background-size: cover;
		width: 100%;
		height: 167rpx;
		zoom: 1;
		z-index: 99;
	}

	.btn2 {
		background: url(../../static/qiandao.png) no-repeat;
		background-size: cover;
		width: 100%;
		zoom: 1;
		z-index: 99;
	}

	.btn3 {
		background: url(../../static/blc.png) no-repeat;
		background-size: cover;
		width: 100%;
		zoom: 1;
		z-index: 99;
	} */
</style>
