<template>
	<view class="container">
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>
		<view class="content">
			<view class="con">
				<view class="center">
					<image class="baizi" mode="widthFix" src="../../static/hdjs2.png"></image>
				</view>
				<view class="text">
					<uni-transition :mode-class="['slide-left','fade']" :show="true" :duration="2000">
						<swiper class="swtou" :interval="1000" :duration="500" :current="curr_index">
							<swiper-item class="sitem" @click="next">
								2022年是“两个一百年”之中“建党一百年”的开局之年，也是乡村振兴的关键之年，值此虎年新春佳节来临之际，新华保险诚邀您在2022年1月30日-15日参与“你参与 我助力 同心共筑大美新疆”主题活动，通过“猜字谜我助力”游戏赢取助力金，每日均可参与，助力值可累计并兑换公益金！新华保险新疆分公司将您获得的累计助力金用于支持新疆脱贫攻坚成果巩固，为建设美丽新疆、乡村振兴助力！
							</swiper-item>
							<swiper-item class="sitem" @click="next">
					您还可凭活动证书，前往当地新华保险参与丰富线下活动，快快转发，邀约您的亲朋好友一起参与，过一个温馨、祥和、有意义的春节吧!
							</swiper-item>
						</swiper>
					<!-- 	<button v-if="nextText=='返回'" class="qiandao mt05" @click="chaxun" type="default">查询获客数量</button> -->
						<button v-if="nextText=='返回'" class="qiandao mt05" @click="fenxiang" type="default">生成专属分享</button>
						<button class="qiandao" @click="nextPage" type="default">{{nextText}}</button>
					</uni-transition>
				</view>
			</view>
		</view>
		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				curr_index: 0,
				nextText: '下一页',
				copytext:'你参与 我助力 同心共筑大美新疆 ！魅力新华 护航乡村振兴！快快转发邀约您的亲朋好友参与，过一个温馨、祥和、有意义的春节吧!',
				shareCode:''
			}
		},
		onShow() {
			const wxUserInfo = uni.getStorageSync('wxUserInfo');
			if (this.$wechat && this.$wechat.isWechat()) {
			    this.$wechat.share({
					title:'你参与我助力同心共筑大美新疆 ！魅力新华 护航乡村振兴！',
			        desc: "你参与 我助力 同心共筑大美新疆 ！魅力新华 护航乡村振兴！快快转发邀约您的亲朋好友参与，过一个温馨、祥和、有意义的春节吧!",  
			        img: "https://hd.xjsfjgxx.com/static/img/f-bg.cc227f66.png" 
			    });  
			}
		},
		methods: {
			chaxun(){
				let _this=this;
				uni.showModal({
					title:'查询数量',
					editable:true,
					placeholderText:'填写电话',
					success:function(res){
					
						if(res.content==''){
							uni.showToast({
								title:'请填写电话号码查询',
								icon:'none'
							});
							return false;
						}
						
						uni.request({
							url:'https://hd.xjsfjgxx.com/prod-api/zhuanpan/cjlist/querymobile',
							method:'POST',
							header:{
							'content-type':'application/x-www-form-urlencoded'
							},
							data:{tell:res.content},
							success: (result) => {
								let data=result.data;
								 
								if(data.success){
									uni.showToast({
										title:'当前获客数量：'+data.data,
										icon:'none',
										duration:2000
									})
								}else{
									setTimeout(()=>{
										uni.showToast({
											title:data.msg,
											icon:'none'
										})
									},500)
								}
							}
						})
					}
				})
				
			},
			fenxiang(){
				let _this=this;
				uni.showModal({
					title:'生成分享',
					editable:true,
					placeholderText:'填写电话',
					success:function(res){
					
						if(res.content==''){
							uni.showToast({
								title:'请填写电话号码',
								icon:'none'
							});
							return false;
						}
						
						uni.request({
							url:'https://hd.xjsfjgxx.com/prod-api/zhuanpan/cjlist/getmobile',
							method:'POST',
							header:{
							'content-type':'application/x-www-form-urlencoded'
							},
							data:{tell:res.content},
							success: (result) => {
								let data=result.data;
								
								if(data.success){
									_this.showCopy(data.data);
									
								}else{
									setTimeout(()=>{
										uni.showToast({
											title:data.msg,
											icon:'none'
										})
									},500)
								}
							}
						})
					}
				})
				
			},
			showCopy(data){
			    const shareText=this.copytext+'https://hd.xjsfjgxx.com?shareCode='+data;
			   	uni.showModal({
			   		content:shareText,
					confirmText:'复制内容',
					success: (res) => {
						uni.setClipboardData({
							data:shareText,
							success:function(res){
								uni.showToast({
									title:'复制成功',
									icon:'none',
									duration:2000
								})
							},
							fail: (res) => {
								uni.showToast({
									title:'复制失败',
									icon:'none',
									duration:2000
								})
							}
						})
					}
			   	})
				
			},
			nextPage() {

				this.curr_index = this.curr_index == 1 ? 0 : 1;
				if (this.curr_index == 1) {
					this.nextText = '返回'
				} else {
					this.nextText = '下一页'
				}
				// console.log(this.nextText)

			},
			next() {

				this.curr_index = this.curr_index == 1 ? 0 : 1;
			}
		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}
     .mt05{
		margin-bottom:40upx!important;
	 }
	.qiandao {
		margin-top: 10upx;
		width: 50%;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;

	}
	

	/* 	.form{
		padding: 10upx 10upx;
	} */
	uni-button:after {
		text-align: center;
		border: 0;
	}

	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}

	.content {
		margin: -140px auto auto;
		position: relative;
		height: 600px;
		width: 350px;
		background: url(../../static/hdjs-content.png);
		background-size: 100% 100%;
		z-index: 1;
		zoom: 1.1;

	}

	.swtou {
		min-height: 300px !important;
	}

	.center {
		text-align: center;
	}

	.con {
		position: absolute;
		left: 30px;
		top: 135px;
		width: 80%;
	}

	.text {
		text-indent: 2em;
		padding: 10px;
		color: #b90b0f;
		height: 400px;
		text-align: justify;
		text-justify: newspaper;
		overflow: hidden;
		overflow-y: scroll;
	}

	.baizi {
		width: 100px
	}

	.foot-bg {
		background: url(../../static/f-bg.png) no-repeat;
		background-size: 100%;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 420rpx;
		z-index: 999;
	}
</style>
