<template>
	<view class="container">
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>
		<view class="content text-area">
			<view class="con">
				<form class="form" @submit="formSubmit" @reset="formReset">
					<view class="uni-form-item uni-column">
						<view class="title">助力人姓名</view>
						<input type="text" class="uni-input" name="name" placeholder="请填写助力人姓名" />
					</view>
					<view class="uni-form-item uni-column">
						<view class="title">助力人电话</view>
						<input type="number" class="uni-input" name="mobile" placeholder="请填写助力人电话" />
					</view>
					<view class="uni-form-item uni-column">
						<view class="title">助力值金额:</view>
						<view class="a-i-c">
							（目前：{{jifen}}助力值，10个助力值等于1元）
						</view>
					<!-- 	<view>
							<slider :value="jifen" @change="sliderChange" :min="jifen" :max="jifen" show-value />
						</view> -->
					</view>
					<view class="uni-btn-v">
						<button type="primary" form-type="submit">提交</button>
						<button type="default" form-type="reset">重置</button>
					</view>




				</form>
			</view>
		</view>
		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
                jifen:0,
				shareCode:'',
			}
		},
		onLoad(option) {
		
			this.jifen=option.jifen;
			const shareCode= uni.getStorageSync('shareCode');
			if(shareCode!==''&&shareCode!=null){
				// console.log(shareCode)
				uni.showToast({
					title:'你来自于邀请码：'+shareCode,
					duration:2000,
					icon:'none'
				})
				this.shareCode=shareCode;
			}
			
		},
		methods: {
			sliderChange(e){
				console.log(e)
				
			},
			formSubmit: function(e) {
				// console.log('form发生了submit事件，携带数据为：' + JSON.stringify(e.detail.value))
				var formdata = e.detail.value;
				if(this.shareCode!==''&&this.shareCode!=null){
					formdata.shareCode=this.shareCode;
				}
				
				formdata.score=this.jifen;
				// console.log(formdata)
				if(formdata.name==''){
					uni.showToast({
						title:'请填写姓名',
						icon:'none'
					})
					return false;
				}
				
				if(formdata.mobile==''){
					uni.showToast({
						title:'请填写电话',
						icon:'none'
					})
					return false;
				}
				uni.request({
					url:'https://hd.xjsfjgxx.com/prod-api/zhuanpan/fuser/front',
					method:'post',
					data:JSON.stringify(formdata),
					success: (res) => {
						let data=res.data;
						if(data.success){
							uni.showToast({
								title:'当前累计助力值：'+data.data,
								duration:2000,
								icon:'success'
							})
							let jsonData={
								jifen:data.data,
								userName:formdata.name
							}
							setTimeout(()=>{
								uni.navigateTo({
									url:'/pages/endpage/endpage?info='+encodeURIComponent(JSON.stringify(jsonData))
								})
							},2000)
						}else{
							uni.showToast({
								title:data.msg,
								icon:'none',
								duration:2000
							})
						}
						
					}
				})
			   
			},
			formReset: function(e) {
				console.log('清空数据')
			}

		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}


	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 90upx;
		line-height: 90upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat center 14upx;
		background-size: 100%;
		border: 0;
		font-size: 30upx;
		text-indent: 0;
		text-align: center;

	}

	/* 	.form{
		padding: 10upx 10upx;
	} */
	uni-button:after {
		text-align: center;
		border: 0;
	}

	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}

	.content {
		margin: -160px auto auto;
		position: relative;
		height: 600px;
		width: 350px;

		background: url(../../static/hdjs-content.png);
		background-size: 100% 100%;
		z-index: 1;
		zoom: 1.1;

	}

	.center {
		text-align: center;
	}

	.con {
		position: absolute;
		left: 30px;
		top: 145px;
		width: 80%;
	}

	.text {
		text-indent: 2em;
		padding: 10px;
		color: #b90b0f;
		height: 400px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.baizi {
		width: 120px
	}

	.foot-bg {
		background: url(../../static/laohu.png) no-repeat;
		background-size: 100%;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 380rpx;
		z-index: 999;
	}
</style>
