<template>
	<view class="container">
		<view class="touxiang" v-show="headimgurl">
			<image class="txpic" mode="widthFix" :src="headimgurl"></image>
		</view>
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>

		<view class="choujiang">
			<view class="wheel-wrapper">
				<view class="wheel-pointer" :class="{freeze: btnImg}" @click="onClickRotate">
					<image :src="btnImg" style="width: 150upx;" mode='widthFix'></image>
				</view>
				<view class="wheel-bg" :class="{freeze: bgImg}"
					:style="{ transform: 'rotate('+wheelDeg+'deg)',background:'url('+bgImg+')'}">
					<view class="prize-list">
						<view class="prize-item-wrapper" v-for="(item,index) in prizeList" :key="index">
							<view class="prize-item"
								:style="{ transform: 'rotate('+(360/ prizeList.length) * index+'deg)'}">
								<view class="prize-name">
									{{ item.award_name }}
								</view>
								<view class="prize-icon">
									<text class="iconfont iconhb">&#xe61d;</text>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>

		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				prizeList: [],
				bgImg: '../../static/img/zhuanpan.png', //  转盘背景
				btnImg: '../../static/img/zhizhen2.png', //  转盘指针图片
				lucky: '', //  中奖ID
				prizeNumber: 8, //  转盘显示奖品个数
				rolling: false, //控制转盘转动
				wheelDeg: 0, //转的角度
				headimgurl: '',
				openid: ''
			}
		},
		onLoad() {
			const wxUserInfo = uni.getStorageSync('wxUserInfo');
			// console.log(wxUserInfo)
			if (wxUserInfo !== null && wxUserInfo !== undefined) {
				this.headimgurl = wxUserInfo.headimgurl;
				this.openid = wxUserInfo.openid;
				// console.log(this.headimgurl)
			} else {
				uni.showToast({
					title: '未获取用户信息,请重新登录',
					icon: 'error'
				})

				setTimeout(() => {
					uni.navigateTo({
						url: '/pages/index/index'
					})

				}, 2000)
			}
		},
		methods: {
			onClickRotate() {
				let that = this;

				//参数
				let data = {
					type: that.type,
					openid: that.openid,
				}
				uni.request({
					url: 'https://hd.xjsfjgxx.com/prod-api/wx/redirect/zhuanpan',
					method: 'post',
					data: data,
					success: (res) => {
						let data = res.data;
						if(!data.success){
							uni.showToast({
								title:data.msg,
								icon:'none',
								duration:2000
							});
							return false;
						}
						let luckyindex = '';
						this.prizeList = data.data.prizeList;
						let text = '恭喜得到助力值' + data.data.jiang.name;
						//为了转盘停到指控区域，通过返回的中奖id，在奖品列表里面查找对应的奖项的索引
						that.prizeList.forEach((item, index) => {
							if (that.lucky == item.id) {
								luckyindex = index * 1;
							}
						})
						that.rolling = true; //中奖成功，控制转盘转动
						const {
							wheelDeg,
							prizeList
						} = this;
						//数字8是转盘的块数也是奖项的数量，luckyindex中的奖项的索引
						this.wheelDeg =
							wheelDeg -
							wheelDeg % 360 +
							8 * 360 +
							(360 - 360 / prizeList.length * luckyindex);
						//中奖返回中奖信息，this.apifun.toast(text);是封装的提示，可以用uniapp的提示方法代替
						setTimeout(() => {
							this.rolling = false;
							uni.showModal({
								title: '中奖提示',
								content: text,
								showCancel: false, // 是否显示取消按钮，默认为 true
								confirmText: "开始助力", // 确认按钮文字  
								confirmColor: '#f55850',
								cancelColor: '#39B54A',
								success: (res) => {
									uni.navigateTo({
										url:'/pages/juzheng/juzheng?jifen='+data.data.jiang.name
									})
								}
							})
						}, 4500);
					}
				})
			},

		}
	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}

	.touxiang {
		position: absolute;
		right: 10px;
		top: 5px;
		border-radius: 100upx;
		overflow: hidden;
		border: 3px solid #fff;
	}

	.txpic {
		height: 100upx !important;
		width: 120upx;
	}

	.qiandao {
		margin-top: 10upx;
		width: 45%;
		height: 56upx;
		line-height: 56upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;
		font-size: 28upx;
		text-indent: 0;
		text-align: center;

	}


	/* 	.form{
		padding: 10upx 10upx;
	} */
	uni-button:after {
		text-align: center;
		border: 0;
	}

	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}



	.swtou {
		min-height: 340px !important;
	}

	.center {
		text-align: center;
	}


	.baizi {
		width: 100px
	}

	.foot-bg {
		background: url(../../static/f-bg.png) no-repeat;
		background-size: 100%;
		position: relative;
		bottom: -36upx;
		left: 0;
		width: 100%;
		height: 420rpx;
		z-index: 999;
	}

	/* 抽奖开始 */
	.choujiang {
		width: 100%;
		height: 600rpx;
	}

	.hong {
		color: red;
	}

	.wheel-wrapper {
		width: 600upx;
		height: 600upx;
		position: absolute;
		top: 61%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.wheel-pointer {
		width: 150upx;
		height: 192upx;
		border-radius: 1000px;
		background: yellow;
		position: absolute;
		left: 50%;
		top: 61%;
		margin-top: -88upx;
		transform: translate(-50%, -50%);
		text-align: center;
		line-height: 120upx;
		z-index: 10;
	}

	.wheel-bg {
		width: 100%;
		height: 100%;
		border-radius: 1000px;
		overflow: hidden;
		transition: transform 4s ease-in-out;
		background: #dcdcdc;
	}

	.freeze {
		border-radius: 0;
		background: none;
		background-size: 100% !important;
	}

	.prize-list {
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
	}

	.prize-item-wrapper {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 300upx;
		height: 300upx;
	}

	.prize-item {
		width: 100%;
		height: 100%;
		transform-origin: bottom;
	}

	.prize-name {
		padding: 86upx 0 10upx;
		color: #E73636;
		font-size: 32rpx;
		font-weight: bold;
	}

	.prize-icon .iconhb {
		font-size: 50rpx;
		color: #FA4A4A;
	}
</style>
