<template>
	<view class="container">
		<view class="touxiang" v-show="headimgurl">
			<image class="txpic" mode="widthFix" :src="headimgurl"></image>
		</view>
		<view class="uni-title">
			<uni-transition :mode-class="['slide-top','fade']" :show="true" :duration="2000">
				<image style="width: 80%; height: 156px;margin-top: 60px;" src="../../static/title-hdjs.png"></image>
			</uni-transition>
		</view>
		<view class="content">
			<view class="con">
				<view class="allQuestion">
					<!-- 第一张图-->
					<swiper :interval="1000" :duration="500" :current="curr_index" :disable-touch="true">
						<swiper-item class="questionOne" v-for="(item,index1) in question" :key="index1">
							<view class="questionOne-cont">
								<!-- No.1图片 -->
								<view class="questionOne-cont-pic">
									<image :src="item.img" mode=""></image>
								</view>
								<!-- 问题 -->
								<view class="questionOne-cont-top">
									<view class="questionOne-cont-top-text">
										<text>{{item.title}}</text>
									</view>
								</view>
								<!-- 选项 -->
								<view class="questionOne-cont-chose" v-for="(an,index2) in item.answer" :key="index2">
									<view class="questionOne-cont-chose-answer" :data-val="an.value" ref="dataVal"
										@click="chose($event,item)">
										<text>{{an.name}}</text>
									</view>
								</view>
							</view>
						</swiper-item>
						<swiper-item>
							<view class="tishi" v-if="rightNum < mastNum">{{text}}</view>
							<button v-else class="qiandao" @click="qiandao" type="default">{{text}}</button>
						</swiper-item>
					</swiper>
				</view>
			</view>
		</view>
		<view class="foot-bg">
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				// 题目这些是写死的
				question: [{
						key: 1,
						flage: false,
						title: "大一点变什么",
						img: "../../static/q1.png",
						page: "url(../../static/1.jpg) top center/cover",
						answer: [{
							id: 0,
							value: "Y",
							name: "A.【太】"
						}, {
							id: 1,
							value: "N",
							name: "B.【大】"
						}, {
							id: 2,
							value: "N",
							name: "C.【达】"
						}]
					},
					{
						key: 2,
						flage: false,
						title: "真丢人",
						img: "../../static/q2.png",
						page: "url(../../static/2.jpg) top center/cover",
						answer: [{
							id: 0,
							value: "N",
							name: "A.【镇】"
						}, {
							id: 1,
							value: "Y",
							name: "B.【直】"
						}, {
							id: 2,
							value: "N",
							name: "C.【珍】"
						}]
					},
					{
						key: 3,
						flage: false,
						title: "四面八方都是二",
						img: "../../static/q3.png",
						page: "url(../../static/3.jpg) top center/cover",
						answer: [{
							id: 0,
							value: "Y",
							name: "A.【回】"
						}, {
							id: 1,
							value: "N",
							name: "B.【茴】"
						}, {
							id: 2,
							value: "N",
							name: "C.【廻】"
						}]
					},
					{
						key: 4,
						flage: false,
						title: "一把刀 顺水漂 有眼睛 没眉毛",
						img: "../../static/q4.png",
						page: "url(../../static/4.jpg) top center/cover",
						answer: [{
							id: 0,
							value: "N",
							name: "A.【与】"
						}, {
							id: 1,
							value: "Y",
							name: "B.【鱼】"
						}, {
							id: 2,
							value: "N",
							name: "C.【玉】"
						}]
					}
					// ,{
					// 	key: 5,
					// 	flage: false,
					// 	title: "山上还有山",
					// 	img: "../../static/q5.png",
					// 	page: "url(../../static/5.jpg) top center/cover",
					// 	answer: [{
					// 		id: 0,
					// 		value: "N",
					// 		name: "A.【扇】"
					// 	}, {
					// 		id: 1,
					// 		value: "N",
					// 		name: "B.【片】"
					// 	}, {
					// 		id: 2,
					// 		value: "Y",
					// 		name: "C.【出】"
					// 	}]
					// },
					// {
					// 	key: 6,
					// 	flage: false,
					// 	title: "家中添一口",
					// 	img: "../../static/q6.png",
					// 	page: "url(../../static/6.jpg) top center/cover",
					// 	answer: [{
					// 		id: 0,
					// 		value: "Y",
					// 		name: "A.【豪】"
					// 	}, {
					// 		id: 1,
					// 		value: "N",
					// 		name: "B.【好】"
					// 	}, {
					// 		id: 2,
					// 		value: "N",
					// 		name: "C.【号】"
					// 	}]
					// }
				],
				curr_index: 0,
				paramVal: [],
				rightNum: 0,
				headimgurl: '',
				obj: {},
				text: '点击助力',
				mastNum:1
			}
		},
		onShow() {
			const wxUserInfo = uni.getStorageSync('wxUserInfo');
			console.log(wxUserInfo)
			if (wxUserInfo !== null && wxUserInfo !== undefined) {
				this.headimgurl = wxUserInfo.headimgurl;
				console.log(this.headimgurl)
			}

		},
		methods: {
			qiandao() {
				uni.navigateTo({
					url: '/pages/zhuapan/zhuapan'
				})
			},
			// 题目改变
			chose(e, item) {
				this.paramVal.push(e.currentTarget.dataset.val)
				let curr_index = this.curr_index; //0-第一页
				if (curr_index < this.question.length) {
					curr_index += 1; //1-第二页
				}
				// 改变下标来实现页面切换
				var nowAnswer;
				if (e.currentTarget.dataset.val === 'N') {
					item.answer.forEach(nItem => {
						//console.log(nItem.value)
						var nData = nItem
						if (nItem.value === 'Y') {
							nowAnswer = nItem.name
						}
						// console.log(nItem)
					})

					uni.showToast({
						title: "答案错误，正确答案：" + nowAnswer,
						icon: 'none',
						duration: 2000
					})

				} else {
					this.rightNum +=1;
					uni.showToast({
						title: "答案正确",
						icon: 'none',
						duration: 2000
					})
				}
				setTimeout(() => {
					this.curr_index = curr_index;
				}, 500)
				console.log(this.curr_index)
				if(this.curr_index ===5){
					if(this.rightNum < this.mastNum){
						this.text="猜灯谜需要至少答对3道以上才能进行抽奖"
						
					}
					
					
				}
				
				// if (this.curr_index === this.question.length) {

				// 	uni.showLoading({
				// 		title: "查询结果中..."
				// 	})
				// 	this.resultPage();
				// }
			},
			// 结果请求接口
			resultPage: function() {
				// 我的请求参数是{"questionOne": "N","questionTwo": "N",.......}这种形式，就转换了一下
				let [questionOne, questionTwo, questionThree, questionFour, questionFive, questionSix] = this.paramVal
				this.obj = {
					questionOne,
					questionTwo,
					questionThree,
					questionFour,
					questionFive,
					questionSix
				}
				console.log(this.obj)
				this.obj = JSON.stringify((this.obj))
				setTimeout(() => {
					uni.hideLoading()
				}, 300)
				// uni.request({
				// 	url: '接口地址',
				// 	method: 'post',
				// 	header: {
				// 		'content-type': 'application/json'
				// 	},
				// 	data: this.obj,
				// 	success(res) {
				// 		if (res.data.code == 0) {
				// 			uni.setStorageSync('resultData', res.data.data);
				// 			setTimeout(() => {
				// 				uni.hideLoading()
				// 			}, 300)
				// 			setTimeout(() => {
				// 				// 放的跳转页面
				// 				// uni.redirectTo({
				// 				// 	url: '../endPage/endPage'
				// 				// })
				// 			}, 500)
				// 		} else {
				// 			uni.showToast({
				// 				title: "执行错误",
				// 				icon: 'none',
				// 				duration: 2000
				// 			})
				// 		}
				// 	}
				// });
			}


		}


	}
</script>

<style>
	page {
		background-color: #ee3c3a;
	}

	.container {
		background: url(../../static/bg2.jpg);
		background-size: 100% 100%;
		height: 100vh;
		font-size: 14px;
		line-height: 24px;
	}

	.uni-title {
		text-align: center;
		position: relative;
		z-index: 99;
	}

	.content {
		margin: -50px auto auto;
		position: relative;
		height: 520px;
		width: 400px;
		background: url(../../static/img/kuang3.png) -15px top;
		background-size: 100% 100%;
		z-index: 1;
		zoom: 1;

	}
	
	.touxiang{
		position: absolute;
		right: 10px;
		top: 5px;
		border-radius: 100upx;
		overflow: hidden;
		border: 3px solid #fff;
	}
	.txpic{
		height: 100upx!important;
		width: 120upx;
	}
	

	.center {
		text-align: center;
	}

	.con {
		position: absolute;
		left: 90px;
		top: 20px;
		width: 54%;
	}

	.text {
		text-indent: 2em;
		padding: 10px;
		color: #b90b0f;
		height: 400px;
		overflow: hidden;
		overflow-y: scroll;
	}
	
	.tishi{
		margin-top: 150px;
		font-size: 32upx;
		font-weight: bold;
			color: #b90b0f;
			
	}

	.baizi {
		width: 100px
	}

	.foot-bg {
		background: url(../../static/fbg2.png) no-repeat;
		background-size: 100%;
		position: relative;
		bottom: 155px;
		left: 0;
		width: 100%;
		height: 420rpx;
		z-index: 999;
	}

	.qiandao {
		margin-top: 320upx;
		width: 70%;
		height: 100upx;
		line-height: 100upx;
		color: #b90b0f;
		font-weight: bold;
		background: url(../../static/kuang2.png) no-repeat;
		background-size: 100% 100%;
		border: 0;

	}

	uni-button:after {
		border: 0;
	}

	page {
		font-family: PingFangSC, PingFangSC-Semibold;
	}

	.questionOne-cont {
		padding: 78upx 60upx 0 70upx;
	}

	.questionOne-cont-pic {
		margin-bottom: 8upx;

		>image {
			width: 158upx;
			height: 92upx;
		}
	}

	.questionOne-cont-chose {
		padding-top: 40upx;
	}

	.questionOne-cont-chose-answer {
		background-color: #fff;
		border-radius: 60upx;
		height: 88upx;
		width: 95%;
		padding-left: 5%;
		line-height: 76upx;

		>text {
			width: 176upx;
			height: 44upx;
			font-size: 32upx;
			font-weight: 600;
			color: #955217;
			line-height: 46upx;
			margin-left: 66upx;
		}
	}
</style>
<style lang="scss" scoped>
	.allQuestion {
		>uni-swiper {
			height: 69.8vh !important;
		}
	}

	.questionOne {
		&-cont {
			padding: 20upx;
			height: 94vh;

			&-pic {
				margin-bottom: 8upx;

				>image {
					width: 158upx;
					height: 92upx;
				}
			}

			&-top {
				padding-left: 2upx;

				&-text {
					width: 100%;
					font-size: 44upx;
					font-weight: 600;
					color: #935217;
					line-height: 60upx;

					>text {
						box-shadow: 0 -7px #ffe26c inset;
					}
				}
			}

			&-chose:nth-child(2) {
				padding-top: 10upx;
			}
		}
	}
</style>
